<div class="login-wrapper">
    <div class="title-wrapper">
        <div class="error" *ngIf="error">
            {{error}}
            <button (click)="hide()">Close</button>
        </div>
        <h2 class="login-title">Login Form</h2>
    </div>
    <div class="form-container">
        <form clss="form-items" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-item email">
                <fa-icon [icon]="['fas', 'at']"></fa-icon>
                <input type="email" placeholder="email" formControlName="email"/>
                <app-form-valid *ngIf="loginForm.get('email')!.valid"></app-form-valid>
                <app-form-error *ngIf="loginForm.get('email')!.invalid"></app-form-error>
            </div>  
            <div class="form-item password">
                <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                <input type="password" placeholder="password" formControlName="password"/>
                <app-form-valid *ngIf="loginForm.get('password')!.valid"></app-form-valid>
                <app-form-error *ngIf="loginForm.get('password')!.invalid"></app-form-error>
            </div>
            <div class="form-item checkbox">
                <input type="checkbox" formControlName="check"/>
                <label>*remember password</label>
            </div>
            <div class="form-item button">
                <button [disabled]="!loginForm.valid" type="submit">Sign in</button>
            </div>             
        </form>
    </div>
</div>




