<div class="login-wrapper">
    <h2 class="login-title">Login</h2>
    <div class="form-container">
        <form clss="form-items" action="">
            <div class="form-item email">
                <fa-icon [icon]="['fas', 'at']"></fa-icon>
                <input type="email" placeholder="email" />
            </div>  
            <div class="form-item password">
                <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                <input type="password" placeholder="password" />
            </div>
            <div class="form-item checkbox">
                <input type="checkbox" />
                <label>*remember password</label>
            </div>
            <div class="form-item button">
                <button type="submit">Sign in</button>
            </div>             
        </form>
    </div>
</div>


